
<center><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png">
</center>
<h2>
  Personal Information
</h2>

<div>
  <label for="name">Name:</label>
  {{user?.FirstName}} {{user?.LastName}}
</div>

<div>
  <label for="email">Email:</label>
  {{user?.email}}
</div>

<div>
  <label for="mobile">Mobile:</label>
  {{user?.mobile}}
</div>

<div>
  <label for="dob">Date of Birth:</label>
  {{user?.dob | date}}
</div>

<h2>
  Address Information
</h2>


<div>
  <label for="address">Address:</label>
  {{user?.addressInfo?.addressLine1}} <br> {{user?.addressInfo?.addressLine2}}
</div>

<div>
  <label for="city">City:</label>
  {{user?.addressInfo?.city}}
</div>

<div>
  <label for="pin">Pin:</label>
  {{user?.addressInfo?.pin}}
</div>